
$black: #000;

$white: #fff;

/**/

$oxford-blue: #333F4C;

$chetwode-blue: #86AFDB;
$nepal: #829CB8;
$river-bed: #48515C;

$dark-grey: #383F47;
$indigo: #3F72BE;
$river-bed: #46505C;
$rolling-stone: #797E83;
$rhino: #24384D;

$grey-chateau: #A7AEB5;

$alice-blue: #F0F7FF;
$hawkes-blue: #DCEEFC;
$link-water: #D3E1F4;
$regent-grey: #919BA6;
$shuttle-grey: #576472;
$gull-grey: #9BACBD;
$silver: #C9C9C9;

$aqua-haze: #F0F4F7;
$porcelain: #FBFCFC;
$pearl-lusta: #FCF9E1;

$triaged: #07A7B5;
$insight: #D6A14B;

$tuna: #313741;
$elephant: #15304D;

$loblolly: #C1C9D2;

$ebony-clay: #202934;

$carnation: #F85454;
$punch: #DA3131;
$chestnut-rose: #D26163;

$catskill-white: #EBF1F5;
$mystic: #DAE1E9;
$athens-grey: #EAEEF1;
$athens-blue: #E6EAED;

$apple: #33BF49;

/**/


$text: $oxford-blue;

$link: $indigo;

$liked: $carnation;
$seen: $apple;

$filters__base: $dark-grey;
$filters__label: $nepal;
$filters__border--disabled: $river-bed;